$oneCol: calc(100%/12);
$twoCol: calc(100%/12*2);
$threeCol: calc(100%/12*3);
$fourCol: calc(100%/12*4);
$fiveCol: calc(100%/12*5);
$sixCol: calc(100%/12*6);
$sevenCol: calc(100%/12*7);
$eightCol: calc(100%/12*8);
$nineCol: calc(100%/12*9);
$tenCol: calc(100%/12*10);
$elevenCol: calc(100%/12*11);
$full: calc(100%);

$dark: #222020;
$light: #ffffff;

@mixin flex-row {
  display: flex;
  flex-flow: row wrap;
}

@mixin flex-row-nowrap {
  display: flex;
  flex-flow: row nowrap;
}

@mixin flex-column {
  display: flex;
  flex-flow: column wrap;
}

@mixin flex-column-nowrap {
  display: flex;
  flex-flow: column nowrap;
}

svg {
  display: none;
}

body::-webkit-scrollbar {
  display: none;
}

#headerLoadBG {
  position: absolute;
  width: 100%;
  height: 100VH;
  z-index: 2;
  background-color: $dark;
  transition: height 0.5s;
  display: grid;
  grid-template-columns: $oneCol $tenCol $oneCol;
  grid-template-rows: $oneCol $tenCol $oneCol;

  #headerLoadBGName {
    grid-column-start: 2;
    grid-row-start: 2;
    justify-self: center;
    align-self: center;
    text-align: center;
    font-family: 'Cinzel', serif;
    color: $light;
    font-size: 9VW;
    opacity: 0;
    transition: opacity 0.1s;

    @media screen and (min-width: 768px) {
      font-size: 5VW;
    }
  }
}

#header {
  position: relative;
  height: 100VH;
  background: url(/images/hero-bg.jpg) no-repeat 40% center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: grid;
  grid-template-columns: $oneCol $tenCol $oneCol;
  grid-template-rows: 72px calc(100% - 72px - 8.33%) $oneCol;

  @media screen and (min-width: 768px) {
    grid-template-rows: $oneCol $tenCol $oneCol;
  }

  #particles-js {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  #headerWater {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 4;
    grid-row-end: 4;
    width: 100%;
    height: 100%;
    background: url(/images/hero-bg-water.png) no-repeat 40% center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    @media screen and (min-width: 768px) {
      filter: url("#turbulence");
    }
  }

  #headerOverlay {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 4;
    grid-row-end: 4;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(/images/hero-bg-overlay.png) no-repeat 40% center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

  }

  #nav {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    width: 100%;
    display: grid;
    grid-template-columns: $oneCol 214.38px auto 150px 150px 150px $oneCol;
    grid-template-rows: auto;

    #navName {
      grid-column-start: 2;
      justify-self: center;
      position: relative;
      min-width: 214.38px;
      text-align: center;
      padding: 25px;

      @media screen and (min-width: 1366px) {
        font-size: 20px;
      }
    }

    #navAbout {
      display: none;

      @media screen and (min-width: 768px) {
        display: block;
        grid-column-start: 4;
        justify-self: center;
      }
    }

    #navPortfolio {
      display: none;

      @media screen and (min-width: 768px) {
        display: block;
        grid-column-start: 5;
        justify-self: center;
      }
    }

    #navContact {
      display: none;

      @media screen and (min-width: 768px) {
        display: block;
        grid-column-start: 6;
        justify-self: center;
      }
    }
  }

  .nav-link {
    position: relative;
    height: 22px;
    margin: 25px 25px 0;
    text-align: center;
    font-family: 'Cinzel', serif;
    color: $light;
    font-size: 16px;
    letter-spacing: 1px;
    white-space: nowrap;

    @media screen and (min-width: 768px) {
      display: block;
      justify-self: center;
    }

    @media screen and (min-width: 1366px) {
      &:before,
      &:after {
        content: '';
        position: absolute;
        width: 0%;
        height: 1px;
        background-color: $light;
      }

      &:before {
        left: 0;
      }

      &:after {
        right: 0;
        background-color: $light;
        transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
      }

      &:hover:before,
      &:focus:before {
        background-color: $light;
        width: 100%;
        transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
      }

      &:hover:after,
      &:focus:after {
        background-color: transparent;
        width: 100%;
        transition: 0s;
      }
    }
  }

  /*
  #navMobile {
    position: absolute;
    right: 0;
    width: 100%;
    height: 72px;
    overflow: hidden;
    display: none;

    @media screen and (min-width: 768px) {
      display: none;
    }

    #checkbox {
     position: absolute;
     top: 0;
     right: $oneCol;
     width: 72px;
     height: 72px;
     padding: 0;
     margin: 0;
     cursor: pointer;
     z-index: 4;
     opacity: 0;
     -webkit-touch-callout: none;

     &:checked ~ #spanOne {
       transform: rotate(45deg) translate(-2px, -3px);
     }

     &:checked ~ #spanTwo {
       opacity: 0;
       transform: rotate(0deg) scale(0.2, 0.2);
     }

     &:checked ~ #spanThree {
       transform: rotate(-45deg) translate(-1px, -2px);
     }

     &:checked ~ #navMobileLinks {
       transform: translate(0, 0);
     }
    }

    span {
     position: absolute;
     right: calc((100VW/12) + 20px);
     z-index: 3;
     width: 32px;
     height: 2px;
     margin: 0 0 5px 0;
     background: $light;
     border-radius: 3px;
     transform-origin: 4px 0px;
     transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.5s ease;
    }

    #spanOne {
     top: 27px;
    }

    #spanTwo {
     top: 34px;
    }

    #spanThree {
     top: 41px;
    }

    #navMobileLinks {
      position: absolute;
      top: 0;
      right:0;
      width: 100VW;
      height: calc(100VH - 72px);
      padding: 72px 0 0;
      z-index: 2;
      transform: translate(100%, 0);
      background-color: $dark;
      @include flex-column-nowrap;
      align-items: center;
      -webkit-font-smoothing: antialiased;
      /* to stop flickering of text in safari
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
  }
*/
  #headerHeadline {
    position: relative;
    z-index: 1;
    grid-column-start: 2;
    grid-row-start: 2;
    justify-self: center;
    align-self: center;
    text-align: center;
    color: $light;
    font-size: 29px;
    filter: drop-shadow(0px 0px 20px #000000);
    opacity: 0;
    transition: opacity 1s;

    @media screen and (min-width: 360px) {
      font-size: 33px;
    }

    @media screen and (min-width: 375px) {
      font-size: 34px;
    }

    @media screen and (min-width: 496px) {
      font-size: 46px;
    }

    @media screen and (min-width: 768px) {
      font-size: 73px;
    }

    @media screen and (min-width: 1024px) {
      font-size: 94px;
    }
  }
}

#about {
  background-color: $dark;

  #aboutCopy {
    font-family: 'Montserrat', sans-serif;
    @include flex-column-nowrap;
    text-align: center;
  }

  #aboutLinks {
    @include flex-row;
    justify-content: space-around;
    text-align: center;

    a {
      width: 300px;
      padding: 15px;
      margin: 60px 0 0;
      font-family: 'Cinzel', serif;
      font-size: 20px;
      color: $light;
      background-color: $dark;
      border: 1px solid white;
      -webkit-appearance: none;
      transition: all 0.5s ease;

      @media screen and (min-width: 360px) {
        width: $twoCol;
        min-width: 83.34%;
      }

      @media screen and (min-width: 768px) {
        margin: 60px 30px 0;
      }

      &:hover,
      &:focus {
        @media screen and (min-width: 1366px) {
          filter: drop-shadow(0px 0px 25px #000000);
        }
      }
    }
  }
}

#portfolio {
  background-color: $dark;

  #projectContainer {
    @include flex-row;
    justify-content: center;

    .project {
      width: 100%;
      margin: 0 0 45px;
      border: 1px solid $light;
      filter: drop-shadow(0px 0px 25px #000000);
      @include flex-column-nowrap;
      text-align: center;

      @media screen and (min-width: 1440px) {
        width: calc(50% - 62px);
        margin: 0 30px 60px;
      }

      img {
        width: 100%;
      }

      .project-info {
        padding: 30px 0 45px;
        background-color: $dark;

        .info {
          padding: 0 7.5px 15px;
          font-family: 'Montserrat', sans-serif;
          font-size: 16px;

          @media screen and (min-width: 1440px) {
            height: 69px;
            font-size: 20px;
          }
        }

        .info-link {
          font-family: 'Cinzel', serif;
          letter-spacing: 1px;
          transition: all 0.5s;

          &:hover,
          &:focus {
            letter-spacing: 5px;
          }
        }
      }
    }
  }
}

#contact {
  background-color: $dark;
  @include flex-column-nowrap;
  align-items: center;

  form {
    width: $fourCol;
    max-width: 853.33px;
    min-width: 300px;
    margin: 30px 0;
    @include flex-column;

    #contactSubmit {
      cursor: pointer;
      width: $twoCol;
      min-width: 300px;
      margin: 30px 0 0;
      font-family: 'Cinzel', serif;
      font-size: 20px;
      color: $light;
      background-color: $dark;
      border: 1px solid white;
      -webkit-appearance: none;
      transition: all 0.5s ease;

      &:hover,
      &:focus {
        @media screen and (min-width: 1366px) {
          filter: drop-shadow(0px 0px 25px #000000);
        }
      }
    }
  }
}

#footer {
  padding: 5px 0;
  z-index: 1;
  background-color: $dark;
  @include flex-row;
  justify-content: space-around;
  text-align: center;

  a,
  p {
    font-size: 10px;
    padding: 5px;

    @media screen and (min-width: 1440px) {
      font-size: 12px;
    }
  }
}